/* src/components/home/home.css */

.home-container {
  text-align: center;
  margin-top: 50px;
}

.home-container h1 {
  font-size: 2.5rem;
  color: #faf8f8;
}

.home-container p {
  font-size: 1.2rem;
  color: #555;
}

.home-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #45a049;
}
