/* src/components/advisorDetails/AdvisorDetails.css */
.advisor-details-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 25px;
    background-color: var(--color-primary-dark);
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    color: #FFFFFF;
}



.advisor-title {
    font-size: 1.75em;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px;
    color: var(--color-text);
}



.advisor-section-content {
    padding: 1px 1px;
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #D8DEE9;
    font-size: 0.95em;
}







